Repository noway/vaxxed-as: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn lint:package

.lintstagedrc.json:

{
  "**/*.{js,ts,css,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "package.json": ["yarn lint:package"]
}

chore(text): 💄 Update text rendering
  src/components/VerificationResultDialog.tsx
  src/routes/CameraRoute.tsx
Due: prettier --write, eslint --fix

feat(copy): ✨ Add markdown for content
  gatsby-config.js
  locales/en/translation.json
  locales/es/translation.json
  package.json
  src/components/VerificationResultDialog.tsx
  src/routes/CameraRoute.tsx
  yarn.lock
Due: prettier --write, eslint --fix, yarn lint:package

feat(app): ✨ Add new app-icon
  .DS_Store
  gatsby-config.js
  src/.DS_Store
  src/images/icon.svg
Due: prettier --write, eslint --fix

chore(i18n): 🌐 Fix lang for spanish
  gatsby-config.js
Due: prettier --write, eslint --fix

chore(pwa): 📱 Prepare for Google Play store
  gatsby-config.js
  package.json
  static/assetlinks.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn lint:package

feat(camera): ♻️ Add limit on switching cameras
  .DS_Store
  .gitignore
  src/components/QrCamera/index.tsx
  src/images/icon.svg
Due: prettier --write, eslint --fix

fix(camera): 🐛 Fix camera on mobiles
  .env.development
  gatsby-config.js
  i18n.json
  localazy.json
  locales/en/translation.json
  locales/es/translation.json
  locales/mi/translation.json
  package.json
  scripts/createLanguages.ts
  src/components/LanguageSelector.tsx
  src/components/QrCamera/index.tsx
  src/data/languageOptions.json
  src/routes/CameraRoute.tsx
  yarn.lock
Due: prettier --write, eslint --fix, yarn lint:package

feat(pwa): ⚡️ Add precaches, clear build cache
  .gacprc.json
  gatsby-config.js
  i18n.json
  package.json
  scripts/createLanguages.ts
  src/config/languages.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn lint:package

refactor(pwa): 📱 Reload on SW update
  gatsby-browser.js
  src/.DS_Store
Due: prettier --write, eslint --fix

fix(bug): 🐛 Add async to function
  gatsby-browser.js
Due: prettier --write, eslint --fix

ci(cache): 💚 Stop clearing caches manually.
  package.json
Due: prettier --write, eslint --fix, yarn lint:package

chore(yarn): ⬆️ Reset yarn.lock
  yarn.lock
Due: none

chore(yarn): ⬇️ Revert upgrading dependencies
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn lint:package

ci(yarn): 💚 Revert yarn.lock
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn lint:package

chore(did): ✨ Use new did
  .env.development
  gatsby-config.js
  package.json
  scripts/did.ts
  src/data/did.json
  src/stores/current/currentDid.ts
  src/utils/nzcp/cbor.test.ts
  src/utils/nzcp/cbor.ts
  src/utils/nzcp/did.test.ts
  src/utils/nzcp/did.ts
  src/utils/nzcp/index.test.ts
  src/utils/nzcp/main.ts
  yarn.lock
Due: prettier --write, eslint --fix, yarn lint:package

chore(env): 🙈 Remove .env file from cache
  .env.development
Due: none

fix(i18n): 🌐 Fix error translations
  src/components/VerificationResultDialog.tsx
  src/data/did.json
Due: prettier --write, eslint --fix

chore(i18n): 🌐 Add translations
  i18n.json
  locales/en/translation.json
  locales/es/translation.json
  locales/hi/translation.json
  locales/mi/translation.json
  locales/sm/translation.json
  locales/zh-cn/translation.json
  locales/zh-hk/translation.json
  src/config/languages.json
  src/data/languageOptions.json
Due: prettier --write, eslint --fix

add nzcp dependency from npm
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn lint:package

delete vendored rfc4648 since not used
  src/utils/rfc4648/codec.ts
  src/utils/rfc4648/index.ts
  src/utils/rfc4648/main.ts
  src/utils/rfc4648/types.ts
Due: prettier --write, eslint --fix

delete vendored nzcp
  src/utils/nzcp/.DS_Store
  src/utils/nzcp/base32.test.ts
  src/utils/nzcp/cbor.test.ts
  src/utils/nzcp/cbor.ts
  src/utils/nzcp/coseTypes.ts
  src/utils/nzcp/crypto.ts
  src/utils/nzcp/cwt.ts
  src/utils/nzcp/cwtTypes.ts
  src/utils/nzcp/elliptic.test.ts
  src/utils/nzcp/index.test.ts
  src/utils/nzcp/index.ts
  src/utils/nzcp/jtiCti.test.ts
  src/utils/nzcp/jtiCti.ts
  src/utils/nzcp/main.ts
  src/utils/nzcp/types.ts
  src/utils/nzcp/util.ts
Due: prettier --write, eslint --fix

switch to npm version
  src/stores/uiStore.ts
  src/workers/QRcode.worker.ts
Due: prettier --write, eslint --fix

remove not used packages
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, yarn lint:package
